.category__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.category__alert--error {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.category__alert--error ul {
    margin: 0;
}

.category__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.category-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
}

.category-form__item {
    display: flex;
    width: 70%;
}

.category-form__item--box {
    margin-right: 10px;
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create__btn {
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.category-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.category-table__inner {
    width: 100%;
}

.category-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.category-table__row {
    border-bottom: 1px solid #ddd;
}

.category-table__header-span {
    margin-right: 40%;
}

.category-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}


.update-form__box {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__btn-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__btn-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}